html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Brush Script MT', cursive;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    overflow: hidden;
    display: flex;
}

.content {
    overflow: auto;
    min-height: 500px;
}

aside {
    background-color: orange;
    color: black;
    width: 200px;
    flex: 0 0 200px;
}

.logo {
    padding: 6px 50px;
    cursor: pointer;
    color: black;
    font-size: 5rem;
    text-decoration: none;
    margin-top: 8px;
}

li {
    cursor: pointer;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

li:hover {
    font-size: 23px;
}

hr {
    color: black;
    border: solid black 1px;
}

.list:hover {
    background-color: orange;
    color: black;
    border-radius: 15px;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
aside,
.content,
footer {
    border: 1px solid black;
    padding: 1rem;
}

header {
    border-bottom: solid orange 1px;
    font-size: 25px;
}

header button {
    float: right;
    background-color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 18px;
    border-radius: 15px;
}

header button:hover{
    background-color: red;
}

footer {

}

label {
    font-size: 20px;
}

.search {
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Brush Script MT', cursive;
    width: 60%;
    height: 25px;
}

.list-container {
    display: flex;
    justify-content: left;
    min-height: 16vh;
    background-color: black;
}

.box {
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.box h3 {
    color: orange;
}

.artist-name {
    color: grey;
    font-size: 15px;
}

.lists {
    display: inline-block;
    overflow: hidden;

}

.obj-card {
    padding: 15px;
    height: 110px;
    width: 110px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    border-radius: 100%;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 0;
}

.obj-card:hover {
    font-size: 22px;
    background-color: orange;
    border-color: black;
    color: black;
    height: 130px;
    width: 130px;
}

.view {
    cursor: pointer;
    float: right;
    color: orange;
    font-size: 20px;
}

.view:hover {
    font-size: 30px;
}
