.sidenav {
    height: 80%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo {
    padding: 6px 100px;
    cursor: pointer;
    color: orange;
    font-size: 5rem;
    text-decoration: none;
    margin-top: 8px;
}

.content li {
    cursor: pointer;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.content li:hover {
    color: orange;
}